# Ignore everything
*

# Ignore .idea
/.idea

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore

# Don't ignore LICENSE
!LICENSE

# Don't ignore these files
!*.example
!setup.py
!.pre-commit-config.yaml
!run.bat

# Don't ignore .github directory
!.github/**

# Don't ignore Python files in src directory
!src/**/*.py

# Don't ignore templates
!templates/**/*.html

# Don't ignore requirements.txt in root
!requirements.txt

# Don't ignore Markdown files in root
!*.md